<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.web>
    <!--
      In the example below, the "Replace" transform will replace the entire
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the
      <system.web> node, there is no need to use the "xdt:Locator" attribute.

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
  <connectionStrings>
    <add name="IdentityConnection" xdt:Transform="Replace" xdt:Locator="Match(name)" 
         connectionString="Data Source=localhost;Initial Catalog=Collision;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="CollisionEntities" xdt:Transform="Replace" xdt:Locator="Match(name)" 
         connectionString="metadata=res://*/Collision.csdl|res://*/Collision.ssdl|res://*/Collision.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=Collision;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>
