<!--JQUERY-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.js"></script>
<!--ANGULAR-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-beta.2/angular-route.js"></script>
<!--BREEZE ANGULAR-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/breezejs/1.5.5/breeze.debug.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/breezejs/1.5.5/adapters/breeze.bridge.angular.js"></script>
<!--UI.BOOTSTRAP-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.14.3/ui-bootstrap.js"></script>
<!--UI.GRID-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-grid/3.0.7/ui-grid.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-grid/3.0.7/ui-grid.css">
<!--MOMENT-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.js"></script>
<!--PLAY CANVAS-->
<script src="~/Scripts/Terrain/playcanvas-stable.min.js"></script>
<!--SERVICES-->
<script src="~/App/services/services.js"></script>
<script src="~/App/services/breeze/breezeservice.js"></script>
<script src="~/App/services/breeze/metadata.js"></script>
<!--APP-->
<script src="~/App/usersettings/app.js"></script>
<script src="~/App/usersettings/controllers/usersettingscontroller.js"></script>
<div ng-app="usersettings">
    <div ng-view>

    </div>
</div>