<div ng-controller="controlpanelcontroller">
    <div ng-show="isLoading">
        Loading...
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4" ng-show="!isLoading">
                <label>Camera</label><br/>
                <label>X</label>
                <input ng-model="camera.x" ng-change="change()" /><br />
                <label>Y</label>
                <input ng-model="camera.y" ng-change="change()" /><br />
                <label>Z</label>
                <input ng-model="camera.z" ng-change="change()" /><br />
                <label>Capsule</label><br />
                <label>X</label>
                <input ng-model="capsule.x" ng-change="change()"/><br />
                <label>Y</label>
                <input ng-model="capsule.y" ng-change="change()" /><br />
                <label>Z</label>
                <input ng-model="capsule.z" ng-change="change()" /><br />
            </div>
            <div class="col-md-8">
                <div>
                    <canvas id="application-canvas"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>