<div ng-controller="controlpanelcontroller">
    <div ng-show="isLoading">
        Loading...
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12">
                    <br />
                    <label>Current Position</label><br />
                    &nbsp;Latitude: {{position.coords.latitude}}<br />
                    &nbsp;Longitude: {{position.coords.longitude}}
                    <hr />
                </div>
                <div class="col-md-8">
                    <div class="panel panel-primary">
                        <div class="panel-heading" data-toggle="collapse" data-target="#collapseOne">Camera/Capsule Override</div>
                        <div id="collapseOne" class="panel-collapse collapse">
                            <div class="panel-body">
                                <div class="col-md-6">
                                    <label>Camera</label><br />
                                    <label>x position</label>
                                    <input ng-model="camera.position.x" ng-change="change()" /><br />
                                    <label>y position</label>
                                    <input ng-model="camera.position.y" ng-change="change()" /><br />
                                    <label>z position</label>
                                    <input ng-model="camera.position.z" ng-change="change()" /><br />
                                    <label>x rotation</label>
                                    <input ng-model="camera.rotation.x" ng-change="change()" ng-model-options="{ debounce: 1000 }" /><br />
                                    <label>y rotation</label>
                                    <input ng-model="camera.rotation.y" ng-change="change()" ng-model-options="{ debounce: 1000 }" /><br />
                                    <label>z rotation</label>
                                    <input ng-model="camera.rotation.z" ng-change="change()" ng-model-options="{ debounce: 1000 }" /><br />
                                </div>
                                <div class="col-md-6">
                                    <label>Capsule</label><br />
                                    <label>x position</label>
                                    <input ng-model="capsule.position.x" ng-change="change()" /><br />
                                    <label>y position</label>
                                    <input ng-model="capsule.position.y" ng-change="change()" /><br />
                                    <label>z position</label>
                                    <input ng-model="capsule.position.z" ng-change="change()" /><br />
                                    <label>x length</label>
                                    <input ng-model="capsule.length.x" ng-change="change()" /><br />
                                    <label>y length</label>
                                    <input ng-model="capsule.length.y" ng-change="change()" /><br />
                                    <label>z length</label>
                                    <input ng-model="capsule.length.z" ng-change="change()" /><br />

                                    <label>x rotation</label>
                                    <input ng-model="capsule.rotation.x" ng-change="change()" ng-model-options="{ debounce: 1000 }" /><br />
                                    <label>y rotation</label>
                                    <input ng-model="capsule.rotation.y" ng-change="change()" ng-model-options="{ debounce: 1000 }" /><br />
                                    <label>z rotation</label>
                                    <input ng-model="capsule.rotation.z" ng-change="change()" ng-model-options="{ debounce: 1000 }" /><br />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="panel panel-primary">
                        <div class="panel-heading" data-toggle="collapse" data-target="#collapseTwo">Positions</div>
                        <div id="collapseTwo" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <div class="col-md-12">
                                    <div ng-show="positions.length <= 0">
                                        <label>No aircraft positions found.</label>
                                    </div>
                                    <div ng-repeat="position in positions">
                                        <button class="btn-primary small" ng-click="selectPosition(position)">Select</button> {{position.Aircraft.CarrierName}} - {{position.Aircraft.FlightNumber}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div>
                <br />
                <canvas id="application-canvas"></canvas>
                <br />
                <label>Latitude:</label> {{selectedposition.Latitude2}}
                <label>Longtiude:</label> {{selectedposition.Longitude2}}
                <label>Time:</label> {{selectedposition.UtcTimeStamp2}}
                <label>Speed (km/s):</label> {{selectedposition.Speed2}}
                <label>Heading:</label> {{selectedposition.Heading2}}
            </div>
        </div>
    </div>
</div>