<div ng-controller="radarcontroller" style="height: 100vh; overflow: hidden; overflow-y: scroll;">
    <div ng-show="isLoading">
        <div style="margin: 0px; padding: 0px; position: fixed; right: 0px; top: 0px; width: 100%; height: 100%; background-color: gray; z-index: 30001; opacity: 0.5;">
            <p style="position: absolute; color: White; top: 50%; left: 45%;">
                <i class="fa fa-5x fa-circle-o-notch fa-spin"></i>
            </p>
        </div>
    </div>
    <div>
        <div class="row" >
            <div class="col-md-2">
                <div ng-show="SelectedFlight != null">
                    <h3>Info</h3>
                    <label>{{SelectedFlight.CarrierName}} Flight {{SelectedFlight.FlightNumber}}</label><br />
                    <label>Speed: </label> {{SelectedFlight.Speed2 | number:0}} kph<br />
                    <label>Heading: </label> {{SelectedFlight.Heading2}} degrees<br />
                    <label>Time at position: </label> 
                        <div ng-if="SelectedFlight.ModifiedAtUtcTimeStamp !== null">{{SelectedFlight.ModifiedAtUtcTimeStamp  | date:"MM/dd/yyyy 'at' h:mm a"}}</div>
                        <div ng-if="SelectedFlight.ModifiedAtUtcTimeStamp === null">{{SelectedFlight.CreatedAtUtcTimeStamp  | date:"MM/dd/yyyy 'at' h:mm a"}}</div>
                    <br />
                    <button ng-class="isTracking ? 'btn btn-danger btn-sm pull-right' : 'btn btn-primary btn-sm pull-right'"
                            ng-model="isTracking" uib-btn-checkbox btn-checkbox-true="true" btn-checkbox-false="false">
                        <div ng-show="!isTracking">
                            Track
                        </div>
                        <div ng-show="isTracking">
                            Untrack
                        </div>
                    </button>
                    <button class="btn btn-primary btn-sm pull-right" ng-click="Show(marker)">Show</button>
                    <br/>
                    <hr />
                </div>
                <div ng-show="(markers | filter: { IsConflict : true}).length">
                    <label>Collisions</label><br/>
                    <div ng-repeat="collision in markers | filter : { IsConflict : true}">
                        <button class="btn btn-primary btn-sm" ng-click="Find(collision)">Find</button> {{collision.CarrierName}} Flight {{collision.FlightNumber}}
                    </div>
                </div>
                <div ng-show="Flights.length > 0">
                    <h3>Flights</h3>
                    <ul class="list-group" style="height: 50vh; overflow: hidden; overflow-y: scroll;">
                        <li class="list-group-item" ng-repeat="flight in Flights" ng-click="SelectFlight(flight)" ng-style="flight.Id === SelectedFlight.Id ? {'background-color': '#428bca'} : { 'background-color': 'white'} ">
                            {{flight.CarrierName}} {{flight.FlightNumber}}
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-10">
                <ng-map zoom="8" center="current-location" style="height: 85vh; ">
                    <info-window id="myInfoWindow">
                        <div ng-non-bindable>
                            {{marker.CarrierName}} {{marker.FlightNumber}}
                        </div>
                    </info-window>
                    <div ng-repeat="marker in markers track by $index">
                        <marker id="{{$index}}" icon="{{GetIcon(marker)}}" position="{{marker.Latitude2}}, {{marker.Longitude2}}" on-click="ShowMarkerWindow(event, marker)"></marker>
                    </div>
                </ng-map>
            </div>
        </div>
    </div>
</div>