
<div ng-controller="radarcontroller">
    <div ng-show="isLoading">
        Loading...
    </div>
    <div ng-show="!isLoading">
        <div class="row">
            <div class="col-md-2">
                <div ng-show="marker != null">
                    <br />
                    <label>{{marker.CarrierName}} Flight {{marker.FlightNumber}}</label><br />
                    <label>Speed: </label> {{marker.Speed2}} kph<br />
                    <label>Heading: </label> {{marker.Heading2}} degrees<br />
                    <label>Time at position: </label> {{marker.ModifiedAtUtcTimeStamp}}<br />
                    <button ng-class="isTracking ? 'btn btn-danger btn-sm pull-right' : 'btn btn-primary btn-sm pull-right'"
                            ng-model="isTracking" uib-btn-checkbox btn-checkbox-true="true" btn-checkbox-false="false">
                        <div ng-show="!isTracking">
                            Track
                        </div>
                        <div ng-show="isTracking">
                            Untrack
                        </div>
                    </button>
                    <button class="btn btn-primary btn-sm" ng-click="Show(marker)">Show</button>
                    <br/>
                    <hr />
                </div>
                <div ng-show="(markers | filter: { IsConflict : true}).length">
                    <label>Collisions</label><br/>
                    <div ng-repeat="collision in markers | filter : { IsConflict : true}">
                        <button class="btn btn-primary btn-sm" ng-click="Find(collision)">Find</button> {{collision.CarrierName}} Flight {{collision.FlightNumber}}
                    </div>
                </div>
            </div>
            <div class="col-md-10">
                <ng-map zoom="8" center="current-location" style="height: 85vh;">
                    <info-window id="myInfoWindow">
                        <div ng-non-bindable>
                            {{marker.CarrierName}} {{marker.FlightNumber}}
                        </div>
                    </info-window>
                    <div ng-repeat="marker in markers track by $index">
                        <marker id="{{$index}}" icon="{{GetIcon(marker)}}" position="{{marker.Latitude2}}, {{marker.Longitude2}}" on-click="ShowMarkerWindow(event, marker)"></marker>
                    </div>
                </ng-map>
            </div>
        </div>
    </div>
</div>