
<div ng-controller="radarcontroller">
    <div ng-show="isLoading">
        Loading...
    </div>
    <div ng-show="!isLoading">
        <div class="row">
            <div class="col-md-4">
                {{title}}
            </div>
            <div class="col-md-8">
                <ng-map zoom="4" center="current-location" style="height: 85vh;">
                    <!--<custom-marker ng-repeat="p in vm.positions track by $index"
                                   id="custom-marker-{{$index}}"
                                   on-click="vm.map.showInfoWindow('foo', 'custom-marker-'+$index)"
                                   position="{{p.pos}}">
                        <div>
                            position {{p.name}}: {{p.pos[0]}}, {{p.pos[1]}}
                        </div>
                    </custom-marker>-->
                    <info-window id="myInfoWindow">
                        <div ng-non-bindable>
                            {{marker.CarrierName}} {{marker.FlightNumber}}
                        </div>
                    </info-window>
                    <div ng-repeat="marker in markers track by $index">
                        <marker id="{{$index}}" icon="{{GetIcon(marker)}}" position="{{marker.Latitude2}}, {{marker.Longitude2}}" on-click="ShowMarkerWindow(event, marker)"></marker>
                    </div>
                </ng-map>
            </div>
        </div>
    </div>
</div>