<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <add name="CollisionEntities" connectionString="metadata=res://*/Collision.csdl|res://*/Collision.ssdl|res://*/Collision.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=Collision;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <appSettings>
    <add key="appId" value="284fdac1"/>
    <add key="appKey" value="543f72a5d73e4fcf3dba3c4355413bd5"/>
    <!-- 5 minutes-->
    <add key="handleAircraftTimeInterval" value="300000"/>
    <!-- 30 seconds-->
    <add key="handlePositionTimeInterval" value="30000"/>
    <!-- 30 seconds-->
    <add key="handleCollisionTimeInterval" value="30000"/>
  </appSettings>
</configuration>